{% extends 'base.html' %}
{% block content %}
{% url 'admin:cdb_cdbentry_add' as add_url %}
{% url 'cdb_select_view' as select_url %}
{% include 'cdb/partials/_action_bar.html' %}

<div class="w-full mx-auto px-4 py-4">
  <div class="overflow-x-auto shadow-md">
    <table class="w-full uppercase font-medium border-spacing-0 border-collapse text-xs text-left rtl:text-right whitespace-nowrap text-gray-500 dark:text-gray-400">
      {% include 'cdb/partials/_table_head.html' %}
      {% include 'cdb/partials/_table_body.html' with page_obj=page_obj %}
    </table>
  </div>
</div>
{% endblock %}