<th id="crmentry-{{ entry.id }}-institute" hx-get="{% url 'crm_popover_content' entry.id %}" hx-trigger="click" hx-target="#popover-content" hx-swap="innerHTML" hx-indicator=".htmx-indicator" scope="row" class="popover-trigger px-3 py-0 font-medium text-gray-900 whitespace-nowrap dark:text-white">
  <span class="flex {% if entry.yet_to_be_sent_to_tp %}text-red-800 dark:text-red-500{% endif %}">
    {% if entry.has_been_booked %}
    <span class="flex mx-px my-auto w-3 h-3 me-3 bg-yellow-300 rounded-full"></span>
    {% endif %}
    {% if entry.has_been_executed %}
    <span class="flex mx-px my-auto w-3 h-3 me-3 bg-green-500 rounded-full"></span>
    {% endif %}
    {{ entry.institute }}
    {% if not entry.IS_IN_TP %}
    <span class="flex items-center px-px">
      <svg class="w-4 h-4 text-red-800 dark:text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V8m0 8h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
      </svg>
    </span>
    {% endif %}
  </span>
</th>