{% extends "base.html" %}
{% load add_attr %}
{% block title %}CRM{% endblock %}
{% block content %}
{% include 'crm/includes/_subordinate_nav_bar.html' %}
{% url 'crm_manager_index_view' subordinate_id as target_url %}
{% url 'crm_manager_edit_view' subordinate_id as edit_url %}
{% include "crm/includes/_action_bar.html" with target_url=target_url edit_url=edit_url show_edit=True %}

<div class="w-full mx-auto px-4 py-4">
    <div class="overflow-x-auto shadow-md">
        <table class="w-full uppercase font-medium border-spacing-0 border-collapse text-xs text-left rtl:text-right whitespace-nowrap text-gray-500 dark:text-gray-400">
            {% include "crm/includes/_table_caption.html" %}
            {% include "crm/includes/_table_head.html" %}
            {% include "crm/includes/_table_body.html" %}
        </table>
    </div>
</div>
{% endblock %}