{% load compress %}
<tbody id="cdb_entries">
  {% for entry in page_obj %}
  {% if forloop.last %}
  <tr {% if page_obj.has_next %} 
      hx-get="{% url 'cdbentry_list' %}?page={{ page_obj.next_page_number }}"
      hx-trigger="revealed"
      hx-swap="afterend"
      hx-include="#cdb_filter_form"
      {% endif %}
      class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
  {% else %}
  <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
  {% endif %}
    <th hx-get="{% url 'cdb_popover_content' entry.id %}" hx-trigger="click" hx-target="#popover-content" hx-swap="innerHTML" hx-indicator=".htmx-indicator" scope="row" class="popover-trigger px-3 py-0 font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <span id="cdbentry-{{ entry.id }}-institute" class="{% if entry.visited %}text-green-500{% endif %}">
        {{ entry.institute }}
      </span>
    </th>
    <td class="px-3 py-0">
      {{ entry.area.name }} |
      {{ entry.area.district }} |
      <span data-tooltip-target="tooltip-state-{{ entry.id }}">
        {{ entry.area.district.state.code }}
      </span>
    </td>
    <td class="px-3 py-0">
      {{ entry.discipline }}
    </td>
    <td class="px-3 py-0">
      {{ entry.hospital_type }}
    </td>
    <td class="px-3 py-0">
      {{ entry.sector }}
    </td>
    <td scope="col" class="px-3 py-0">
      {% if entry.owner.first_name %}
      {{ entry.owner.first_name }}
      {% else %}
      {{ entry.owner.username }}
    </td>
    {% endif %}
  </tr>
{% endfor %}

<div data-popover id="popover-default" role="tooltip" class="absolute z-10 invisible inline-block w-96 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:border-gray-600 dark:bg-gray-800">
  <div id="popover-content" class="p-2">
  </div>
</div>
</tbody>

{% compress js %}
<script>
  document.addEventListener("htmx:beforeRequest", function() {
    const popoverContent = document.getElementById("popover-content");
    popoverContent.innerHTML = `
    <div class="flex items-center justify-center w-56 h-56 mx-auto bg-gray-50 dark:bg-gray-800">
      <div class="px-3 py-1 text-xs font-medium leading-none text-center text-blue-800 bg-blue-200 rounded-full animate-pulse dark:bg-blue-900 dark:text-blue-200">Fetching Data...</div>
    </div>
    `;
  });

  document.addEventListener('click', function (event) {
    const popoverContent = document.getElementById('popover-default');
    const triggerElements = document.getElementsByClassName('popover-trigger');
    
    let clickedInsideTrigger = false;

    // Loop through all popover-trigger elements and check if the clicked target is one of them
    for (let i = 0; i < triggerElements.length; i++) {
      if (triggerElements[i].contains(event.target)) {
        clickedInsideTrigger = true;
        
        const rect = triggerElements[i].getBoundingClientRect();

        // Set the popover's position dynamically beside the clicked <th>
        popoverContent.style.left = `${rect.right + window.scrollX + 10}px`; // 10px to the right of the <th>
        popoverContent.style.top = `${rect.top + window.scrollY}px`; // Align with the top of the <th>
        
        // Make the popover visible
        popoverContent.classList.remove('invisible', 'opacity-0');
        popoverContent.classList.add('opacity-100');
        break;
      }
    }

    // If the click happened outside the popover and not on a trigger element, hide the popover
    if (!clickedInsideTrigger && !popoverContent.contains(event.target)) {
      popoverContent.classList.add('invisible', 'opacity-0');
      popoverContent.classList.remove('opacity-100');
    }
  });
</script>
{% endcompress %}
