{% extends "base.html" %}
{% load add_attr %}
{% block title %}Demo List{% endblock %}
{% block content %}

<!--
{% include "demo/partials/_action_bar.html" %}
-->

<div class="w-full mx-auto px-4 py-4">
    <div class="overflow-x-auto shadow-md">
        <table class="w-full uppercase font-medium border-spacing-0 border-collapse text-xs text-left rtl:text-right whitespace-nowrap text-gray-500 dark:text-gray-400">
            {% include "demo/partials/_table_head.html" %}
            {% include "demo/partials/_table_body.html" %}
        </table>
    </div>
</div>

{% endblock %}