<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
  <tr>
    <th scope="col" class="px-3 py-3">
    </th>
    <th scope="col" class="px-3 py-3">
      Institute
    </th>
    <th scope="col" class="px-3 py-3">
      <div class="flex items-center">
        Location
      </div>
    </th>
    <th scope="col" class="px-3 py-3">
      Discipline
    </th>
    <th scope="col" class="px-3 py-3">
      Hospital Type
    </th>
    <th scope="col" class="px-3 py-3">
      Sector
    </th>
    <th scope="col" class="px-3 py-3">
      Owner
    </th>
</thead>